@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lanyard</a>
    </div>
</div>

<div class="nav-scrollable">
    <div class="h-100 p-3 d-flex flex-column">
        <ul class="list-unstyled ps-0 text-muted">
            <li class="mb-2">
                <li class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="@(homeOpen ? "true" : "false")" @onclick="() => homeOpen = !homeOpen">
                    Home
                </li>
                <div class="collapse @(homeOpen ? "show" : "")" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="" Match="NavLinkMatch.All">
                                Home
                            </NavLink>
                        </li>
                        <AuthorizeView Roles="CanControlMusic">
                            <Authorized>
                                <li>
                                    <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="manage/users">
                                        Music
                                    </NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </li>

            <AuthorizeView Roles="CanClockIn">
                <Authorized>
                    <li>
                        <NavLink class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-decoration-none" href="clockin">
                            <span class="fas fa-clock me-2" aria-hidden="true"></span> Clock In
                        </NavLink>
                    </li>

                    <li>
                        <NavLink class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-decoration-none" href="rota">
                            <span class="fas fa-calendar me-2" aria-hidden="true"></span> Rota
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin,Manager">
                <Authorized>
                    <li>
                        <li class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#manage-collapse" aria-expanded="@(manageOpen ? "true" : "false")" @onclick="() => manageOpen = !manageOpen">
                            Manage
                        </li>
                        <div class="collapse @(manageOpen ? "show" : "")" id="manage-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="manage/roles">
                                        Roles
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="manage/users">
                                        Users
                                    </NavLink>
                                </li>
                            </ul>
                        </div>
                    </li>
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </ul>

        <ul class="list-unstyled ps-0 mt-auto">
            <li class="border-top my-3"></li>

            <AuthorizeView>
                <Authorized>
                    <li class="mb-1">
                        <NavLink class="btn-toggle d-inline-flex align-items-center rounded border-0 text-decoration-none text-dark fw-semibold" href="account/manage">
                            <span class="bi bi-person-fill-nav-menu me-2" aria-hidden="true"></span> @(userName?.Length > 15 ? userName.Substring(0, 15) + "..." : userName)
                        </NavLink>
                    </li>
                    <li class="mb-1">
                        <NavLink class="btn-toggle d-inline-flex align-items-center rounded border-0 text-decoration-none text-dark" href="logout">
                            <span class="bi bi-arrow-bar-left-nav-menu me-2" aria-hidden="true"></span> Logout
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="mb-1">
                        <NavLink class="btn-toggle d-inline-flex align-items-center rounded border-0 text-decoration-none text-dark" href="login">
                            <span class="bi bi-person-badge-nav-menu me-2" aria-hidden="true"></span> Login
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</div>

@inject AuthenticationStateProvider Auth

@code {
    private string? currentUrl;
    private string? userName;

    private bool homeOpen = true;
    private bool manageOpen = false;

    protected override async Task OnInitializedAsync()
    {
        userName = await _sec.GetCurrentUserName();

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

