@using Lanyard.Application.Services.Authentication
@inject IToastService ToastService

<FluentCard>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
        <FluentLabel Typo="Typography.H5">Other Details</FluentLabel>
        
        <FluentEditForm class="w-100" Model="@model">
            <DataAnnotationsValidator />
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
                <div class="w-100">
                    <FluentTextField @bind-Value="model.Email"
                                    Label="Email Address"
                                    TextFieldType="TextFieldType.Email"
                                    Style="width: 100%;">
                        <FluentIcon Value="@(new Icons.Regular.Size16.Mail())" Slot="start" />
                    </FluentTextField>
                    <FluentValidationMessage For="@(() => model.Email)" />
                </div>
                <div class="w-100">
                    <FluentTextField @bind-Value="model.PhoneNumber"
                                    Label="Phone Number"
                                    TextFieldType="TextFieldType.Tel"
                                    Style="width: 100%;">
                        <FluentIcon Value="@(new Icons.Regular.Size16.Phone())" Slot="start" />
                    </FluentTextField>
                    <FluentValidationMessage For="@(() => model.PhoneNumber)" />
                </div>
                <div class="w-100">
                    <FluentDatePicker @bind-Value="model.DateOfBirth"
                                    Label="Date of Birth"
                                    Style="width: 100%;">
                        <FluentIcon Value="@(new Icons.Regular.Size16.CalendarLtr())" Slot="start" />
                    </FluentDatePicker>
                    <FluentValidationMessage For="@(() => model.DateOfBirth)" />
                </div>
            </FluentStack>
        </FluentEditForm>
    </FluentStack>
</FluentCard>

@code {
    private ContactDetailsModel model = new();

    protected override async Task OnInitializedAsync()
    {
        Result<UserProfile> getResult = await _securityService.GetCurrentUserProfileAsync();

        if (getResult.IsSuccess && getResult.Data is not null)
        {
            model.Email = getResult.Data.Email;
            model.PhoneNumber = getResult.Data.PhoneNumber;
            model.DateOfBirth = getResult.Data.DateOfBirth;
        }
    }

    public async Task HandleSave()
    {
        Result<UserProfile> getResult = await _securityService.GetCurrentUserProfileAsync();

        if (getResult.IsSuccess && getResult.Data is not null)
        {
            getResult.Data.Email = model.Email;
            getResult.Data.PhoneNumber = model.PhoneNumber;
            getResult.Data.DateOfBirth = model.DateOfBirth;

            await _securityService.UpdateUserProfileAsync(getResult.Data);

            ToastService.ShowSuccess("Details Saved!");
        }
    }

    private class ContactDetailsModel
    {
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string? Email { get; set; }

        [Phone(ErrorMessage = "Invalid phone number.")]
        public string? PhoneNumber { get; set; }

        public DateTime? DateOfBirth { get; set; }
    }
}
