@using Lanyard.Application.SignalR
@inject IClientService _clientService
@inject IToastService _toastService

<div hidden="@(IsShowing == false)">
    <FluentCard Height="auto">
        <FluentLabel Typo="Typography.PaneHeader">Projector</FluentLabel>

        <FluentDataGrid ShowHover="true" Items="@projectionSettings.OrderBy(x => x.DisplayIndex).AsQueryable()" GridTemplateColumns="1fr 1fr 1fr 1fr 1fr" Style="width: 100%;">
            <ChildContent>
                <PropertyColumn Property="x => x.DisplayIndex" Title="Display" />
                <PropertyColumn Property="x => x.ProjectionProgram!.Name" Title="Program Name" />
                <PropertyColumn Property="x => x.IsFullScreen" Title="Is Full Screen" />
                <PropertyColumn Property="x => x.IsBorderless" Title="Is Borderless" />
                <TemplateColumn Title="Size">
                    @context.Width x @context.Height px
                </TemplateColumn>
                <TemplateColumn Title="Delete">
                    <FluentIcon Value="@(new Icons.Regular.Size20.BinRecycle())" OnClick="() => DeleteClientProjectionSettings(context.Id)"></FluentIcon>
                </TemplateColumn>
            </ChildContent>
            <LoadingContent>
                Loading...
            </LoadingContent>
            <EmptyContent>
                No Projections set for this Client!
            </EmptyContent>
        </FluentDataGrid>

        <FluentButton class="mt-2 float-end" OnClick="OpenAddProjectionDialog" Appearance="Appearance.Outline" IconStart="new Icons.Regular.Size20.ProjectionScreenTextSparkle()">Add Projection</FluentButton>
    </FluentCard>
</div>

@code {
    [Parameter]
    public bool IsShowing { get; set; }

    [Parameter] 
    public Guid? clientId { get; set; }

    [Parameter]
    public EventCallback UpdateClientCapabilities { get; set; }

    private IEnumerable<ClientProjectionSettings> projectionSettings = Array.Empty<ClientProjectionSettings>();

    protected override async Task OnParametersSetAsync()
    {
        if (IsShowing && clientId != null)
        {
            await RefreshCapabilities();
        }
    }

    public async Task RefreshCapabilities()
    {
        Result<IEnumerable<ClientProjectionSettings>> result = await _clientService.GetClientProjectionSettingsAsync(clientId!.Value);

        if (result.IsSuccess)
        {
            projectionSettings = result.Data!;
        }
        else
        {
            _toastService.ShowError($"Failed to load client projection settings, {result.Error}");
        }
    }

    private async Task OpenAddProjectionDialog()
    {
        if (clientId != null)
        {
            DialogParameters parameters = new DialogParameters()
            {
                Title = "Add Projection",
                OnDialogResult = _dialogService.CreateDialogCallback(this, HandleAddProjection),
                PrimaryAction = "Create",
                PrimaryActionEnabled = false,
                SecondaryAction = "Cancel",
                Width = "50%",
                Height = "auto",
                TrapFocus = true,
                Modal = true,
            };

            await _dialogService.ShowDialogAsync<AddNewProjectionDialog>(clientId, parameters);
        }
    }

    private async Task HandleAddProjection(DialogResult result)
    {
        await RefreshCapabilities();
    }

    private async Task DeleteClientProjectionSettings(Guid projectionSettingsId)
    {
        Result<bool> result = await _clientService.DeleteClientProjectionSettingsAsync(projectionSettingsId);

        if (result.IsSuccess)
        {
            await RefreshCapabilities();

            if (projectionSettings.Any() == false)
            {
                await UpdateClientCapabilities.InvokeAsync();
            }
        }
        else
        {
            _toastService.ShowError($"An error occured when deleting the projection, {result.Error}");
        }
    }
}