@using Lanyard.Application.Services
@using Lanyard.Application.Services.Authentication
@inject IToastService ToastService

<FluentCard Class="mb-2">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
        <FluentLabel Typo="Typography.H5">Your Details</FluentLabel>
        
        <FluentEditForm Model="@model" class="w-100">
            <DataAnnotationsValidator />
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalGap="16">
                <div class="w-100">
                    <FluentTextField @bind-Value="model.UserName"
                                    Label="User Name"
                                    ReadOnly="true"
                                    Disabled="true"
                                    Style="width: 100%;">
                        <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" />
                    </FluentTextField>
                    <FluentValidationMessage For="@(() => model.UserName)" />
                </div>
                <div class="w-100">
                    <FluentTextField @bind-Value="model.FirstName"
                                    Label="First Name"
                                    Required
                                    Placeholder="Enter your first name"
                                    Style="width: 100%;">
                        <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" />
                    </FluentTextField>
                    <FluentValidationMessage For="@(() => model.FirstName)" />
                </div>
                <div class="w-100">
                <FluentTextField @bind-Value="model.LastName"
                                 Label="Last Name"
                                 Required
                                 Placeholder="Enter your last name"
                                 Style="width: 100%;">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="start" />
                </FluentTextField>
                <FluentValidationMessage For="@(() => model.LastName)" />
                </div>
                <div class="w-100">
                    <FluentCheckbox @bind-Value="model.Use24HourFormat" Label="Prefer 24-Hour Format for Time Display" />
                </div>
            </FluentStack>
        </FluentEditForm>
    </FluentStack>
</FluentCard>

@code {
    private UserDetailsModel model = new();

    protected override async Task OnInitializedAsync()
    {
        Result<UserProfile> getResult = await _securityService.GetCurrentUserProfileAsync();

        if (getResult.IsSuccess && getResult.Data is not null)
        {
            model.UserName = getResult.Data.UserName!;
            model.FirstName = getResult.Data.FirstName;
            model.LastName = getResult.Data.LastName;

            model.Use24HourFormat = getResult.Data.PreferredCulture == "en-GB";
        }
    }

    public async Task HandleSave()
    {
        Result<UserProfile> getResult = await _securityService.GetCurrentUserProfileAsync();

        if (getResult.IsSuccess && getResult.Data is not null)
        {
            getResult.Data.FirstName = model.FirstName;
            getResult.Data.LastName = model.LastName;
            
            getResult.Data.PreferredCulture = model.Use24HourFormat ? "en-GB" : "en-US";

            await _securityService.UpdateUserProfileAsync(getResult.Data);

            ToastService.ShowSuccess("Details Saved!");
        }
    }

    private class UserDetailsModel
    {
        public string UserName { get; set; } = string.Empty;
        
        [Required(ErrorMessage = "First name is required.")]
        public string? FirstName { get; set; }
        
        [Required(ErrorMessage = "Last name is required.")]
        public string? LastName { get; set; }

        public bool Use24HourFormat { get; set; } = false;
    }
}
