@using LanyardData.Models;
@using LanyardApp.Components.Music;
@using System.Threading.Tasks
@using LanyardData.DataAccess
@using LanyardAPI.Services
@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext _context
@inject MusicPlayerService _player
@inject IDialogService DialogService
@inject IToastService ToastService

@implements IDisposable

<div class="col-12">
    @if (Songs is not null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="text-end col-1">#</td>
                    <td class="col-5">Title</td>
                    <td class="col-3">Album</td>
                    <td class="col-2">Date Added</td>
                    <td class="col-1">Length</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var (song, index) in Songs.Select((s, i) => (s, i + 1)))
                {
                    <tr role="button" 
                        @onmouseover="() => OnHover(song.SongId)" 
                        @onmouseout="OnHoverOut" 
                        @onclick="() => _player.Play(song.Song!, song.Playlist!)"
                        class="@(IsCurrentlyPlaying(song.Song!) ? "table-primary" : "")">
                        <td class="text-end">
                            <span role="button" 
                                  @onclick="() => OpenAddSongToPlaylistDialog(song.Song!)" 
                                  @onclick:stopPropagation 
                                  class="fas fa-plus-circle text-success @(HoveredSongId == song.SongId ? "" : "d-none")"></span>
                            @if (IsCurrentlyPlaying(song.Song!))
                            {
                                <i class="fas fa-volume-up text-primary me-3"></i>
                            }
                            @index
                        </td>
                        <td>@song.Song!.Name</td>
                        <td>@song.Song!.AlbumName</td>
                        <td>@song.Song!.CreateDate.ToString("d")</td>
                        <td>@TimeSpan.FromSeconds(song.Song!.DurationSeconds).ToString(@"mm\:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter] public IEnumerable<PlaylistSongMember>? Songs { get; set; }

    private Guid? HoveredSongId = null;
    private Guid? CurrentlyPlayingSongId;
    private IDialogReference? currentDialogReference;

    protected override void OnInitialized()
    {
        _player.OnSongChanged += UpdateCurrentSong;
        UpdateCurrentSong();
    }

    protected override async Task OnParametersSetAsync()
    {
        UpdateCurrentSong();
    }

    private void UpdateCurrentSong()
    {
        CurrentlyPlayingSongId = _player.CurrentSong?.Id;
    }

    private bool IsCurrentlyPlaying(Song song)
    {
        return CurrentlyPlayingSongId.HasValue && CurrentlyPlayingSongId.Value == song.Id;
    }

    private async Task OpenAddSongToPlaylistDialog(Song song)
    {
        SongPlaylistSelection selection = new SongPlaylistSelection 
        { 
            Song = song,
            Playlist = null! // Will be set by the dialog
        };

        DialogParameters parameters = new DialogParameters()
        {
            Title = $"Add {song.Name} To Playlist",
            OnDialogResult = DialogService.CreateDialogCallback(this, HandleAddSongToPlaylist),
            PrimaryAction = "Add",
            PrimaryActionEnabled = false,
            SecondaryAction = "Cancel",
            Width = "500px",
            Height = "auto",
            TrapFocus = true,
            Modal = true,
        };

        await DialogService.ShowDialogAsync<AddSongToPlaylistModal>(selection, parameters);
    }

    private async Task HandleAddSongToPlaylist(DialogResult result)
    {
        if (result.Cancelled || result.Data is not SongPlaylistSelection selection)
        {
            return;
        }

        Song song = selection.Song;
        Playlist selectedPlaylist = selection.Playlist;
        
        if (selectedPlaylist is null)
        {
            ToastService.ShowWarning("Please select a playlist");
            return;
        }

        try
        {
            Song? existingSong = await _context.Songs
                .Where(x => x.Id == song.Id)
                .FirstOrDefaultAsync();

            if (existingSong is null)
            {
                existingSong = new Song
                {
                    Id = Guid.NewGuid(),
                    Name = song.Name,
                    AlbumName = song.AlbumName,
                    FilePath = song.FilePath,
                    DurationSeconds = song.DurationSeconds,
                    CreateDate = DateTime.UtcNow,
                    IsDownloaded = true,
                    IsActive = true
                };

                _context.Add(existingSong);
                await _context.SaveChangesAsync();
            }

            bool alreadyInPlaylist = await _context.PlaylistSongMembers
                .AnyAsync(psm => psm.SongId == existingSong.Id 
                              && psm.PlaylistId == selectedPlaylist.Id 
                              && psm.DeleteDate == null);

            if (alreadyInPlaylist)
            {
                ToastService.ShowWarning($"'{song.Name}' is already in '{selectedPlaylist.Name}'");
                return;
            }

            PlaylistSongMember playlistSongMember = new PlaylistSongMember
            {
                SongId = existingSong.Id,
                PlaylistId = selectedPlaylist.Id,
                CreateDate = DateTime.UtcNow
            };

            _context.Add(playlistSongMember);
            await _context.SaveChangesAsync();

            ToastService.ShowSuccess($"Added '{song.Name}' to '{selectedPlaylist.Name}'");
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Failed to add song: {ex.Message}");
        }
    }

    private void OnHover(Guid id)
    {
        HoveredSongId = id;
    }

    private void OnHoverOut()
    {
        HoveredSongId = null;
    }

    public void Dispose()
    {
        _player.OnSongChanged -= UpdateCurrentSong;
    }
}