@page "/manage/users"
@using Lanyard.App.Components.Accounts
@using Lanyard.App.Components.Manager
@using Lanyard.Application.Services.Authentication

@inject IToastService ToastService

<PageTitle>User Management</PageTitle>

<FluentCard Height="auto">
    <FluentStack Orientation="Orientation.Horizontal" class="w-100" id="toolbar-fluent-components">
        <FluentText Typo="Typography.PaneHeader">Users</FluentText>

        <FluentButton Appearance="ButtonAppearance.Outline" class="me-2" IconEnd="new Icons.Regular.Size20.PersonAdd()" OnClick="OpenRegisterUserDialog">Register a New User</FluentButton>

        <FluentTextInput Placeholder="Search..." AutoComplete="off" @bind-Value="@searchValue" @bind-Value:after=HandleSearchInput />
    </FluentStack>

    <FluentDataGrid Pagination="new PaginationState { ItemsPerPage = 10 }" page Items="@filteredUsers.OrderBy(x => x.GetName()).AsQueryable()" GridTemplateColumns="1fr 1fr 1fr 1fr 1fr 1fr" Style="width: 100%;">
        <EmptyContent>
            No Users Found
        </EmptyContent>
        <ChildContent>
            <PropertyColumn Property="@(r => r.UserName ?? string.Empty)" Title="Username" />
            <PropertyColumn Property="@(r => r.GetName() ?? string.Empty)" Title="Name" />
            <PropertyColumn Property="@(r => r.Email ?? "Not Set")" Title="Email Address" />
            <PropertyColumn Property="@(r => r.PhoneNumber ?? "Not Set")" Title="Phone Number" />
            <PropertyColumn Property="@(r => r.DateOfBirth != null ? r.DateOfBirth.Value.ToString("d") : "Not Set")" Title="DOB" />
            <TemplateColumn Title="Actions">
                <div class="d-flex align-items-center">
                    <FluentIcon Icon="Icons.Regular.Size20.Delete" Color="Color.Error" OnClick="@(() => ConfirmDeleteUser(context))" />
                    <FluentIcon Icon="Icons.Regular.Size20.Key" Color="Color.Primary" OnClick="@(() => OpenChangePasswordDialog(context))" />
                </div>
            </TemplateColumn>
        </ChildContent>
    </FluentDataGrid>
</FluentCard>

@code{
    private IEnumerable<UserProfile> users = Enumerable.Empty<UserProfile>();
    private IEnumerable<UserProfile> filteredUsers = Enumerable.Empty<UserProfile>();
    private string? searchValue = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        await GetUsers();
    }

    private async Task GetUsers()
    {
        users = await _securityService.GetActiveUsersAsync();
        filteredUsers = users;

        await HandleSearchInput();
    }

    private async Task HandleSearchInput()
    {
        if (string.IsNullOrWhiteSpace(searchValue))
        {
            users = await _securityService.GetActiveUsersAsync();
            filteredUsers = users;

            searchValue = string.Empty;

            StateHasChanged();
        }
        else
        {
            string searchTerm = searchValue.ToLower();

            if (searchTerm.Length > 0)
            {
                string term = searchTerm?.Trim().ToLower() ?? string.Empty;

                List<UserProfile> temp = users
                    .Where(u =>
                        string.Join(" ",
                            u.GetName(),
                            u.Email,
                            u.PhoneNumber,
                            u.DateOfBirth != null ? u.DateOfBirth?.ToString("d") : ""
                        ).ToLower().Contains(term)
                    )
                    .ToList();

                filteredUsers = temp;

                StateHasChanged();
            }
        }
    }

    private async Task OpenRegisterUserDialog()
    {
        DialogResult result = await _dialogService.ShowDialogAsync<RegisterUserDialog>(options =>
        {
            options.Width = "500px";
            options.Modal = true;
        });

        if (result.Value is true)
        {
            await GetUsers();
        }
    }

    private async Task ConfirmDeleteUser(UserProfile user)
    {
        DialogResult result = await _dialogService.ShowDialogAsync<ConfirmDeleteUserDialog>(options =>
        {
            options.Header.Title = "Are you sure?";
            options.Width = "500px";
            options.Modal = true;
            options.Parameters.Add(nameof(ConfirmDeleteUserDialog.Content), user);
        });

        if (!result.Cancelled)
        {
            await _securityService.DeleteUserAsync(user.Id);
            await GetUsers();
        }
    }

    private async Task OpenChangePasswordDialog(UserProfile user)
    {
        if (user is null)
        {
            ToastService.ShowError("Unable to load user profile.");
            return;
        }

        await _dialogService.ShowDialogAsync<ChangePasswordDialog>(options =>
        {
            options.Header.Title = "Change Password";
            options.Width = "500px";
            options.Modal = true;
            options.Parameters.Add(nameof(ChangePasswordDialog.Content), user);
        });
    }
}