@using Lanyard.Application.Services.Clients
@using Lanyard.Shared.DTO
@using Lanyard.Shared.Enum
@implements IDisposable

@inject ILaserGameStatusStore LaserGameStatusStore

<FluentCard Appearance="@CardAppearance.Subtle" Padding="@Padding.All0" Height="100%">
    <FluentGrid Class="h-100">
        <FluentGridItem Md="6" Sm="12" Padding="@Padding.Right1">
            <FluentCard Height="100%" Padding="@Padding.All0">
                <FluentStack Orientation="@Orientation.Horizontal" 
                                VerticalAlignment="@VerticalAlignment.Center" 
                                HorizontalAlignment="@HorizontalAlignment.Center">
                    <FluentBadge Color="@BadgeColor.Danger"
                                        Shape="@BadgeShape.Square"
                                        Padding="@Padding.All4"
                                        Class="w-100">
                        <FluentText Align="@TextAlign.Center"
                                    Weight="@TextWeight.Bold">
                            Red Team
                        </FluentText>
                    </FluentBadge>
                </FluentStack>
                <div class="h-100">
                    <FluentDataGrid Items="@_gameStatus?.PlayerScores.Where(x=> x.Team == Team.Red).OrderByDescending(x => x.Score).AsQueryable()"                  
                                    TGridItem="PlayerScoreDTO"
                                    StripedRows="true">
                        <ChildContent>
                            <PropertyColumn Title="Name" Property="x=> x.GunName" Sortable="true"/>
                            <PropertyColumn Title="Score" 
                                            Property="x=> x.Score" 
                                            Sortable="true" 
                                            IsDefaultSortColumn="true" 
                                            InitialSortDirection="@DataGridSortDirection.Descending" />
                        </ChildContent>
                        <EmptyContent>
                        </EmptyContent>
                    </FluentDataGrid>
                </div>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem Md="6" Sm="12" Padding="@Padding.Left1">
            <FluentCard Height="100%" Padding="@Padding.All0">
                <FluentStack Orientation="@Orientation.Horizontal" 
                                VerticalAlignment="@VerticalAlignment.Center" 
                                HorizontalAlignment="@HorizontalAlignment.Center">
                    <FluentBadge Color="@BadgeColor.Success"
                                Shape="@BadgeShape.Square"
                                Padding="@Padding.All4"
                                Class="w-100">
                        <FluentText Align="@TextAlign.Center"
                                    Weight="@TextWeight.Bold">
                            Green Team
                        </FluentText>
                    </FluentBadge>
                </FluentStack>
                <div class="h-100">
                    <FluentDataGrid Items="@_gameStatus?.PlayerScores.Where(x=> x.Team == Team.Green).OrderByDescending(x => x.Score).AsQueryable()"                  
                                    TGridItem="PlayerScoreDTO"
                                    StripedRows="true">
                        <ChildContent>
                            <PropertyColumn Title="Name" Property="x=> x.GunName" 
                                            Sortable="true" />
                            <PropertyColumn Title="Score" Property="x=> x.Score"
                                            Sortable="true" 
                                            IsDefaultSortColumn="true" 
                                            InitialSortDirection="@DataGridSortDirection.Descending" />
                        </ChildContent>
                        <EmptyContent>
                        </EmptyContent>
                    </FluentDataGrid>
                </div>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
</FluentCard>

@code {
    [Parameter]
    public required ClientZoneLaserScoreboardWidget Widget { get; set; } 

    private LaserGameStatusDTO? _gameStatus = null;

    protected override async Task OnInitializedAsync()
    {
        LaserGameStatusStore.OnStatusUpdated += OnLaserGameStatusChanged;

        if (Widget.ClientId != null && Widget.ClientId != Guid.Empty)
        {
            await GetCurrentGameStatusAsync();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Widget.ClientId != null && Widget.ClientId != Guid.Empty)
        {
            await GetCurrentGameStatusAsync();
        }
    }

    private async Task GetCurrentGameStatusAsync()
    {
        if (Widget.ClientId != null && Widget.ClientId != Guid.Empty)
        {
            if (LaserGameStatusStore.TryGetStatus(Widget.ClientId ?? Guid.Empty, out LaserGameStatusDTO? status) && status != null)
            {
                OnLaserGameStatusChanged(status);
            }
        }
    }

    private void OnLaserGameStatusChanged(LaserGameStatusDTO status)
    {
        if (status.ClientId == Widget.ClientId)
        {
            _gameStatus = status;

            InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        LaserGameStatusStore.OnStatusUpdated -= OnLaserGameStatusChanged;
    }
}