@using Lanyard.Application.Services.Authentication
@using System.Globalization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/customer.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["Lanyard.App.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.js"]"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script src="@Assets["app.js"]"></script>
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>

    @* <div id="components-reconnect-modal"></div> *@

    <ReconnectModal />

    <Routes @rendermode="PageRenderMode" />
    @* <ReconnectModal /> *@
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    @* <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script> *@
    <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</body>

</html>

@inject ISecurityService SecurityService

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

    protected override async Task OnInitializedAsync()
    {
        Result<UserProfile> result = await SecurityService.GetCurrentUserProfileAsync();
        
        if (result.IsSuccess && !string.IsNullOrEmpty(result.Data?.PreferredCulture))
        {
            CultureInfo culture = new CultureInfo(result.Data.PreferredCulture);
            CultureInfo.DefaultThreadCurrentCulture = culture;
            CultureInfo.DefaultThreadCurrentUICulture = culture;
        }
    }
}
