@using Lanyard.App.Components.Dashboards.Widgets
@using Lanyard.App.Components.Dialogs
@using Lanyard.App.Components.Home
@using Lanyard.Infrastructure.Enum

@inject IClientService ClientService
@inject IProjectionProgramService ProjectionProgramService

<FluentCard Appearance="@CardAppearance.Subtle" Padding="@Padding.Horizontal0">
    <div class="dashboard-grid">
        @foreach (DashboardWidget widget in Widgets)
        {
            <div class="dashboard-grid-item" id="@($"widget-{widget.Id}")" style="@GetWidgetStyle(widget)">
                <FluentStack Orientation="@Orientation.Vertical" 
                            Height="100%" 
                            Width="100%"
                            VerticalAlignment="@VerticalAlignment.Center"
                            HorizontalAlignment="@HorizontalAlignment.Center">
                    @if (!PreviewMode)
                    {
                        <FluentButton Appearance="@buttonAppearance" 
                                        IconStart="new Icons.Regular.Size16.ArrowUp()" 
                                        OnClick="@(() => MoveWidgetUp(widget))"/>
                    }
                    <FluentStack Orientation="@Orientation.Horizontal" 
                                Height="100%" 
                                Width="100%"
                                VerticalAlignment="@VerticalAlignment.Center"
                                HorizontalAlignment="@HorizontalAlignment.Center">
                        @if (!PreviewMode)
                        {
                            <FluentButton Appearance="@buttonAppearance" 
                                            IconStart="new Icons.Regular.Size16.ArrowLeft()" 
                                            OnClick="@(() => MoveWidgetLeft(widget))"/>
                        }
                        @switch (widget.Type)
                        {
                            case WidgetType.DigitalClock:
                                DigitalClockWidget? clockWidget = widget as DigitalClockWidget;

                                if (clockWidget == null)
                                {
                                    break;
                                }
                                
                                <div class="dashboard-widget-host"
                                        @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                        @oncontextmenu:preventDefault="true">
                                    <DigitalClock ShowMilliseconds="clockWidget.ShowMilliSeconds" 
                                                    Is24HourFormat="clockWidget.Is24HourFormat" 
                                                    ShowDate="clockWidget.ShowDate" />
                                </div>
                                break;
                            case WidgetType.TextArea:   
                                TextAreaWidget? textAreaWidget = widget as TextAreaWidget;

                                if (textAreaWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderTextAreaWidget Widget="textAreaWidget" />
                                </div>
                                break;
                            case WidgetType.ClientZoneLaserGameStatus:
                                ClientZoneLaserGameStatusWidget? laserGameStatusWidget = widget as ClientZoneLaserGameStatusWidget;

                                if (laserGameStatusWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderClientZoneLaserGameStatusWidget Widget="laserGameStatusWidget" />
                                </div>
                                break;
                            case WidgetType.ClientZoneLaserScoreboard:
                                ClientZoneLaserScoreboardWidget? laserScoreboardWidget = widget as ClientZoneLaserScoreboardWidget;

                                if (laserScoreboardWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderClientZoneLaserScoreboardWidget Widget="laserScoreboardWidget" />
                                </div>
                                break;
                            case WidgetType.Button:
                                ButtonWidget? buttonWidget = widget as ButtonWidget;

                                if (buttonWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderButtonWidget Widget="buttonWidget" AllowTrigger="PreviewMode" />
                                </div>
                                break;
                            case WidgetType.MusicPlaylistSelector:
                                MusicPlaylistSelectorWidget? playlistSelectorWidget = widget as MusicPlaylistSelectorWidget;

                                if (playlistSelectorWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderMusicPlaylistSelectorWidget Widget="playlistSelectorWidget" AllowTrigger="PreviewMode" />
                                </div>
                                break;
                            case WidgetType.MusicTimeline:
                                MusicTimelineWidget? musicTimelineWidget = widget as MusicTimelineWidget;

                                if (musicTimelineWidget == null)
                                {
                                    break;
                                }

                                <div class="dashboard-widget-host"
                                    @oncontextmenu="@(() => ShowWidgetConfigDialog(widget.Id))"
                                    @oncontextmenu:preventDefault="true">
                                    <RenderMusicTimelineWidget Widget="musicTimelineWidget" AllowTrigger="PreviewMode" />
                                </div>
                                break;
                        }
                        @if (!PreviewMode)
                        {
                            <FluentStack Orientation="@Orientation.Vertical" Width="auto">
                                <FluentButton Appearance="@buttonAppearance" 
                                                IconStart="new Icons.Regular.Size16.ArrowDownload()" 
                                                OnClick="@(() => ExtendWidgetWidth(widget))"
                                                Style="transform: rotate(270deg);"/>

                                <FluentButton Appearance="@buttonAppearance" 
                                                IconStart="new Icons.Regular.Size16.ArrowRight()" 
                                                OnClick="@(() => MoveWidgetRight(widget))"/>

                                <FluentButton Appearance="@buttonAppearance" 
                                                IconStart="new Icons.Regular.Size16.ArrowUpload()" 
                                                OnClick="@(() => ShortenWidgetWidth(widget))"
                                                Style="transform: rotate(270deg);"/>
                            </FluentStack>
                        }
                    </FluentStack>
                    @if (!PreviewMode)
                    {
                        <FluentStack HorizontalAlignment="@HorizontalAlignment.Center">
                            <FluentButton Appearance="@buttonAppearance" 
                                            IconStart="new Icons.Regular.Size16.ArrowDownload()" 
                                            OnClick="@(() => ExtendWidgetHeight(widget))"/>

                            <FluentButton Appearance="@buttonAppearance" 
                                            IconStart="new Icons.Regular.Size16.ArrowDown()" 
                                            OnClick="@(() => MoveWidgetDown(widget))"/>

                            <FluentButton Appearance="@buttonAppearance" 
                                            IconStart="new Icons.Regular.Size16.ArrowUpload()" 
                                            OnClick="@(() => ShortenWidgetHeight(widget))"/>
                        </FluentStack>
                    }
                </FluentStack>
            </div>  
        }
    </div>
</FluentCard>

@code {
    [Parameter]
    public List<DashboardWidget> Widgets { get; set; } = new List<DashboardWidget>();

    [Parameter]
    public bool PreviewMode { get; set; } = false;

    public ButtonAppearance buttonAppearance = ButtonAppearance.Subtle;

    public DashboardWidget? SelectedWidget { get; set; } = null;

    protected override void OnParametersSet()
    {
        SetInvalidGridPositionsToTheNextFreePosition();

        base.OnParametersSet();
    }

    private void SetInvalidGridPositionsToTheNextFreePosition()
    {
        const int totalColumns = 12;
        HashSet<(int X, int Y)> occupiedCells = new HashSet<(int X, int Y)>();

        foreach (DashboardWidget widget in Widgets)
        {
            int widgetWidth = Math.Clamp(widget.GridW, 1, totalColumns);
            int widgetHeight = Math.Max(1, widget.GridH);
            int normalizedX = Math.Max(0, widget.GridX);
            int normalizedY = Math.Max(0, widget.GridY);

            if (normalizedX + widgetWidth > totalColumns ||
                !CanPlaceWidgetAt(normalizedX, normalizedY, widgetWidth, widgetHeight, occupiedCells))
            {
                (int FreeX, int FreeY) freePosition = FindNextFreePosition(widgetWidth, widgetHeight, occupiedCells, totalColumns);
                normalizedX = freePosition.FreeX;
                normalizedY = freePosition.FreeY;
            }

            widget.GridW = widgetWidth;
            widget.GridH = widgetHeight;
            widget.GridX = normalizedX;
            widget.GridY = normalizedY;

            MarkOccupied(normalizedX, normalizedY, widgetWidth, widgetHeight, occupiedCells);
        }
    }

    private static bool CanPlaceWidgetAt(int startX, int startY, int width, int height, HashSet<(int X, int Y)> occupiedCells)
    {
        for (int x = startX; x < startX + width; x++)
        {
            for (int y = startY; y < startY + height; y++)
            {
                if (occupiedCells.Contains((x, y)))
                {
                    return false;
                }
            }
        }

        return true;
    }

    private static (int X, int Y) FindNextFreePosition(
        int width,
        int height,
        HashSet<(int X, int Y)> occupiedCells,
        int totalColumns)
    {
        int row = 0;

        while (true)
        {
            int lastStartColumn = totalColumns - width;

            for (int column = 0; column <= lastStartColumn; column++)
            {
                if (CanPlaceWidgetAt(column, row, width, height, occupiedCells))
                {
                    return (column, row);
                }
            }

            row++;
        }
    }

    private static void MarkOccupied(
        int startX,
        int startY,
        int width,
        int height,
        HashSet<(int X, int Y)> occupiedCells)
    {
        for (int x = startX; x < startX + width; x++)
        {
            for (int y = startY; y < startY + height; y++)
            {
                occupiedCells.Add((x, y));
            }
        }
    }

    // Right-clicking a widget (in edit-layout mode) opens its config dialog directly.
    private async Task ShowWidgetConfigDialog(Guid widgetId)
    {
        if (PreviewMode)
        {
            return;
        }

        DashboardWidget? widget = Widgets.FirstOrDefault(w => w.Id == widgetId);

        switch (widget)
        {
            case DigitalClockWidget clockWidget:
                await ShowConfigureDigitalClockDialog(clockWidget);
                break;
            case ClientZoneLaserGameStatusWidget laserGameStatusWidget:
                await ShowConfigureLaserGameStatusDialog(laserGameStatusWidget);
                break;
            case ClientZoneLaserScoreboardWidget laserScoreboardWidget:
                await ShowConfigureLaserScoreboardDialog(laserScoreboardWidget);
                break;
            case ButtonWidget buttonWidget:
                await ShowConfigureButtonDialog(buttonWidget);
                break;
            case MusicPlaylistSelectorWidget playlistSelectorWidget:
                await ShowConfigureMusicPlaylistSelectorDialog(playlistSelectorWidget);
                break;
            case MusicTimelineWidget musicTimelineWidget:
                await ShowConfigureMusicTimelineDialog(musicTimelineWidget);
                break;
        }
    }

    // Loads all clients for the music widgets. Deliberately unfiltered by connectivity so a
    // widget can be pre-configured for a client that is currently offline.
    private async Task<IEnumerable<Client>> GetMusicClientsAsync()
    {
        Result<IEnumerable<ClientConnectedWithCapabilitiesDTO>> result = await ClientService.GetClientsWithCapabilitiesAsync();

        if (result.IsSuccess && result.Data != null)
        {
            return result.Data
                .Cast<Client>();
        }

        _toastService.ShowError($"Failed to load clients, {result.Error}");

        return [];
    }

    private async Task ShowConfigureMusicPlaylistSelectorDialog(MusicPlaylistSelectorWidget playlistSelectorWidget)
    {
        IEnumerable<Client> clients = await GetMusicClientsAsync();

        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureMusicPlaylistSelectorDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureMusicPlaylistSelectorDialog.Widget), playlistSelectorWidget);
            options.Parameters.Add(nameof(ConfigureMusicPlaylistSelectorDialog.Clients), clients);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async Task ShowConfigureMusicTimelineDialog(MusicTimelineWidget musicTimelineWidget)
    {
        IEnumerable<Client> clients = await GetMusicClientsAsync();

        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureMusicTimelineDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureMusicTimelineDialog.Widget), musicTimelineWidget);
            options.Parameters.Add(nameof(ConfigureMusicTimelineDialog.Clients), clients);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    // Loads the clients eligible for the zone scoreboard/game-status widgets.
    private async Task<IEnumerable<Client>> GetZoneScoreboardClientsAsync()
    {
        Result<IEnumerable<ClientConnectedWithCapabilitiesDTO>> result = await ClientService.GetClientsWithCapabilitiesAsync();

        if (result.IsSuccess && result.Data != null)
        {
            return result.Data
                .Where(x => x.ZoneScoreboardVersion == ZoneScoreboardVersion.Begeara2)
                .Cast<Client>();
        }

        _toastService.ShowError($"Failed to load clients, {result.Error}");

        return [];
    }

    private async Task ShowConfigureDigitalClockDialog(DigitalClockWidget clockWidget)
    {
        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureDigitalClockDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureDigitalClockDialog.Widget), clockWidget);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async Task ShowConfigureLaserGameStatusDialog(ClientZoneLaserGameStatusWidget laserGameStatusWidget)
    {
        IEnumerable<Client> clients = await GetZoneScoreboardClientsAsync();

        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureLaserGameStatusDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureLaserGameStatusDialog.Widget), laserGameStatusWidget);
            options.Parameters.Add(nameof(ConfigureLaserGameStatusDialog.Clients), clients);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async Task ShowConfigureLaserScoreboardDialog(ClientZoneLaserScoreboardWidget laserScoreboardWidget)
    {
        IEnumerable<Client> clients = await GetZoneScoreboardClientsAsync();

        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureLaserScoreboardDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureLaserScoreboardDialog.Widget), laserScoreboardWidget);
            options.Parameters.Add(nameof(ConfigureLaserScoreboardDialog.Clients), clients);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async Task ShowConfigureButtonDialog(ButtonWidget buttonWidget)
    {
        IEnumerable<Client> clients = [];

        Result<IEnumerable<ClientConnectedWithCapabilitiesDTO>> clientResult = await ClientService.GetClientsWithCapabilitiesAsync();

        if (clientResult.IsSuccess && clientResult.Data != null)
        {
            clients = clientResult.Data
                .Cast<Client>();
        }
        else
        {
            _toastService.ShowError($"Failed to load clients, {clientResult.Error}");
        }

        IEnumerable<ProjectionProgram> programs = [];

        Result<IEnumerable<ProjectionProgram>> programResult = await ProjectionProgramService.GetProjectionProgramsAsync();

        if (programResult.IsSuccess && programResult.Data != null)
        {
            programs = programResult.Data;
        }
        else
        {
            _toastService.ShowError($"Failed to load projection programs, {programResult.Error}");
        }

        DialogResult dialogResult = await _dialogService.ShowDialogAsync<ConfigureButtonDialog>(options =>
        {
            options.Modal = true;
            options.Parameters.Add(nameof(ConfigureButtonDialog.Widget), buttonWidget);
            options.Parameters.Add(nameof(ConfigureButtonDialog.Clients), clients);
            options.Parameters.Add(nameof(ConfigureButtonDialog.Programs), programs);
        });

        if (!dialogResult.Cancelled)
        {
            StateHasChanged();
        }
    }

    private void RemoveWidget(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        Widgets.Remove(widget);

        SelectedWidget = null;
    }

    private void MoveWidgetRight(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridX += 1;
    }

    private void MoveWidgetLeft(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridX = Math.Max(0, widget.GridX - 1);
    }

    private void MoveWidgetUp(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridY = Math.Max(0, widget.GridY - 1);
    }

    private void MoveWidgetDown(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridY += 1;
    }

    private void ExtendWidgetWidth(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridW += 1;
    }

    private void ShortenWidgetWidth(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridW = Math.Max(1, widget.GridW - 1);
    }

    private void ExtendWidgetHeight(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridH += 1;
    }

    private void ShortenWidgetHeight(DashboardWidget? widget)
    {
        if (widget == null)
        {
            return;
        }

        widget.GridH = Math.Max(1, widget.GridH - 1);
    }

    private static string GetWidgetStyle(DashboardWidget widget)
    {
        int startColumn = Math.Max(1, widget.GridX + 1);
        int startRow = Math.Max(1, widget.GridY + 1);
        int spanColumns = Math.Max(1, widget.GridW);
        int spanRows = Math.Max(1, widget.GridH);

        return $"grid-column: {startColumn} / span {spanColumns}; grid-row: {startRow} / span {spanRows};";
    }
}